<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="AddressBookTestSuite">
<listeners>
		<listener class-name="IListener"/>
	</listeners><!-- Use IListener class to take the screenshot after each Test methods -->
    <test name="AddressBookTest">
        <parameter name="FireFoxKey" value="webdriver.gecko.driver"/>
        <parameter name="FireFoxPath" value="C:\\Users\\Admin\\eclipse-workspace\\ProjectAutomation2\\driver\\geckodriver.exe"/>
        <classes>
            <class name="AddAddressTest"/> <!-- Use package.ClassName if it's inside a package -->
        	<class name="ViewAllAddressTest"></class>
        	<class name="EditAddressTest"></class>
        	<class name="ViewAddresDetails"></class>
        </classes>
    </test>
</suite>
